.footer {
    font-family: 'Lato', sans-serif;
    max-width: 1530px;
    margin: 140px auto;

    @include laptop {
        max-width: 1167px;
        margin: 40px auto;
    }

    @include mobile {
        max-width: 370px;
        margin: 100px 15px 0;
    }



    h1 {
        @include font(48px, 64px, 700);
        text-align: center;

        @include laptop {
            @include font(40px, 64px, 700);
        }

        @include laptop {
            @include font(24px, 36px, 700);
        }

        .pinki {
            color: $pink;
        }

        p {
            @include font(48px, 64px, 700);
            display: inline;
            position: relative;

            @include laptop {
                @include font(40px, 64px, 700);
            }

            @include laptop {
                @include font(24px, 36px, 700);
            }
        }

        p::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 3px;
            background: url(../../img/bot-line.svg) no-repeat;
            height: 7px;
            width: 264px;

            @include laptop {
                bottom: -9px;
                width: 210px;
            }

            @include laptop {
                bottom: -9px;
                width: 131px;
            }
        }
    }

    div {
        @include font(25px, 40px);
        text-align: center;
        margin: 30px 0 97px 0;

        @include laptop {
            @include font(20px, 32px);
        }

        @include mobile {
            @include font(18px, 29px);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;

        @include tablet {
            flex-wrap: wrap;
            margin: 150px 95px;
        }

        @include laptop {
            margin: 50px;
            text-align: center;
        }

        h2 {
            @include font(24px, 36px, 600);
            margin: 30px 0 15px 0;

            @include laptop {
                @include font(20px, 30px, 600);
            }
        }

        p {
            @include font(18px, 29px);

            @include laptop {
                @include font(16px, 25px);
            }
        }

        li {
            max-width: 300px;
            display: flex;
            flex-direction: column;

            @include laptop {
                max-width: 225px;
            }

            @include tablet {
                padding-bottom: 100px;
            }

            @include tablet {
                padding-bottom: 40px;
            }
        }

        li::before {
            content: '';
            float: right;
            position: relative;
            top: -30px;
            // background: url(../../img/icons-sprite.svg) no-repeat;
            background-color: $pink;
            box-shadow: 0px 4px 25px $pink-gradient;
            border-radius: 15px;
            height: 70px;
            width: 70px;

            @include mobile {
                top: 0;
                left: 76px;
            }
        }

        &-spr-target::before {
            background: url(../../img/spri/target.svg) 10px 11px no-repeat;
        }

        &-spr-site::before {
            background: url(../../img/spri/site.svg) 13px 12px no-repeat;
        }

        &-spr-friends::before {
            background: url(../../img/spri/friends.svg) 11px 11px no-repeat;
        }

        &-spr-icon::before {
            background: url(../../img/spri/icon.svg) 11px 12px no-repeat;
        }
    }
}